<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668457735767-6jovnnlisdbaam050he544234579di1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668457735767-6jovnnlisdbaam050he544234579di1f</string>
	<key>API_KEY</key>
	<string>AIzaSyAh-Ql_CHjJpsQAypisXmfIJH5t2LasJGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>668457735767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.virginia.cs4971.capstoneOrange1</string>
	<key>PROJECT_ID</key>
	<string>cavpool</string>
	<key>STORAGE_BUCKET</key>
	<string>cavpool.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668457735767:ios:00984891cd761c21fef512</string>
</dict>
</plist>